@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
  font-family: "fonthead";
  src: url("font/grand.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width:800px) {
  .main {
    width: 80%;
    padding: 0;
  }

  .right {
    width: 100%;
  }
}

@media only screen and (max-width:500px) {

  .menu,
  .main,
  .right {
    width: 100%;
  }
}

.seken-text {
  font-family: fonthead;
  color: aliceblue;
}

.cart-ico {
  padding: 5px;
  /* size: 50px; */
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.navbar-drop {
  transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -ms-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
}

.navbar-drop:hover> :not(:hover) {
  opacity: 0.4;
  scale: 1.2;
}

.navbar-bg {
  background-image: url(assets/navbar-bg.png);
  backdrop-filter: blur(10px);

}

.navbar-bg::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  opacity: 2;
}

.btnsell {
  position: fixed;
  bottom: 70px;
  right: 70px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btnsell img {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  border: 1px solid black;
}

.btnsell:hover::after {
  content: "Jual Barang?";
  position: absolute;
  top: -20px;
  left: 0.5%;
  bottom: 0.5px;
  transform: translate(0, -50%);
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 14px;
  color: #333;
  animation: fadeIn 0.5s ease-in-out;
}

.btnsell:active {
  transform: scale(0.95);
  background-color: #f0f0f0;
}

.modal.fade .modal-dialog {
  animation: modalFadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card {
  flex: 0 0 auto;
  margin: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 254px;
  padding: 15px;
  box-sizing: border-box;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: #ffcaa6;
  height: auto;
  object-fit: cover;
  width: 50%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  max-width: 100%;
}

.card-info {
  padding-top: 10px 0;
  margin-top: 10px;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

.card-footer button {
  padding: 5px 10px;
}

.text-title {
  font-weight: 880;
  font-size: 20px;
  line-height: 1;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.btn-beli {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #080808;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn-beli::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn-beli:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn-beli:hover::before {
  width: 100%;
}

.btn-beli::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-beli:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.cards-container {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  overflow-x: auto; 
  margin-bottom: 20px;
}

.wrapper.show {
  display: inline-block;
  animation: fadeIn 0.5s forwards;
}

.wrapper.hide {
  animation: fadeOut 0.5s forwards;
}

.switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: "Log in";
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: "Sign up";
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front,
.flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: lightgrey;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.wrapper {
  display: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.close-button {
  position: absolute;
  top: -140px;
  left: 100px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}


.container {
  padding-top: 160px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

